{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация через Telegram</title>
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        {% if not user.is_authenticated %}
        <h1>Авторизация через Telegram</h1>
        <p>Нажмите кнопку для авторизации:</p>
        <button id="telegram-auth-button">Авторизоваться через Telegram</button>
        {% else %}
        <h1>Добро пожаловать!</h1>
        <p>{{ user.username }} {{ user.telegram_user.telegram_id }}</p>
        {% endif %}
    </div>

</body>
</html>